.contact-item {
  display: flex;
  flex-direction: column;
}

.contact-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 13px 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.contact-item-id {
  width: 26px;

  text-align: center;
}

.contact-item-unit {
  width: 180px;

  text-align: center;
}

.contact-item-button-description {
  transform: rotate(0deg);
}

.contact-item-button-description-active {
  transform: rotate(90deg);
  transition: transform 0.3s ease-out;
}

.contact-item-description {
  padding: 13px 4vw;
  margin: 0;

  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  background: rgba(128, 128, 128, 0.15);
}