.contact-item {
  display: flex;
  flex-direction: column;
}

.contact-item-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-item-button-description {
  // height: auto;
  padding: 5px 7px;
  // border: 1px solid black;
}